@{
    ViewData["Title"] = "История";
}
<style>
    .timeline {
        list-style: none;
        padding: 0;
    }

    .timeline li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .timeline-panel {
        background-color: #f7f7f7;
        padding: 10px;
        border-radius: 5px;
    }
</style>
<div class="container">
    <h2 class="text-center">История компании</h2>
    <ul class="timeline">
        <li>
            <div class="timeline-panel">
                <h4>2010</h4>
                <p>Основание компании Neofit. Первые выставки и кинопоказы.</p>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <h4>2015</h4>
                <p>Расширение до международного уровня. Организация крупнейших мероприятий в Европе.</p>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <h4>2020</h4>
                <p>Запуск онлайн-платформы для искусства и культуры.</p>
            </div>
        </li>
    </ul>
</div>
