@{
    ViewData["Title"] = "Главная";
}

<div class="jumbotron text-center">
    <h1>Добро пожаловать в Neofit</h1>
    <p>Ваш гид в мире искусства, фильмов и культуры.</p>
</div>

<div class="media-gallery">
    <div class="media-item">
        <img src="https://via.placeholder.com/300x200" alt="Картины">
        <p>Картины великих художников</p>
    </div>
    <div class="media-item">
        <img src="https://via.placeholder.com/300x200" alt="Фильмы">
        <p>Классические и современные фильмы</p>
    </div>
    <div class="media-item">
        <img src="https://via.placeholder.com/300x200" alt="Искусство">
        <p>Великолепные примеры искусства</p>
    </div>
</div>
